<% if local_assigns[:notice] %>
  <div class="p-3 bg-cec-teal/10 text-cec-teal-dark border border-cec-teal/30 rounded-lg text-sm" data-controller="auto-dismiss">
    <%= notice %>
  </div>
<% end %>
<% if local_assigns[:alert] %>
  <div class="p-3 bg-red-50 text-red-700 border border-red-200 rounded-lg text-sm" data-controller="auto-dismiss">
    <%= alert %>
  </div>
<% end %>
